body{
    font-family: 'Petrona', serif;
}
h1{
    font-size:50px;
}
.owner-name{
    color: rgb(214, 77, 23);
}
.intro01{
    text-align: left;
    width: 40%;
    text-align: justify;
    float: left;
    padding: 3%;
    margin-left: 2%;
}